

<div class="wrapper_homepages">
  <h1>Welcome to our hospital</h1>
  <div class="to_doctor_page"><%= link_to "Doctor", doctors_path %></div>
  <div class="to_patients_page"><%= link_to "Patients", patients_path %></div>
</div>
